.video-play{
    padding: 2rem 6rem;
    display: flex;
}

.left-flex{
    flex : 0 0 60vw;
    max-width: 832px;
    height: max-content;
}

.video-player{
    height: 468px;
}

.right-flex{
    flex : 1 1 0
}

.video-details{
    color: var(--white-100);
    margin-bottom: 1rem;
}

.video-details .details-head{
    border-bottom: 1px solid rgba(78, 78, 78, 0.541);
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem;
}


.btn-trans{
    background-color: transparent;
    font-size: .8rem;
    color: var(--gray-300);
    margin: 0 0 0 10px;
    min-width: max-content;
    padding: .7rem 1rem;
    border-bottom: 2px solid transparent ;
    outline: none;
    position: relative;
}

.btn-trans.clicked{
    color: var(--pink-800);
    border-bottom: 2px solid var(--pink-800);
}

.video-details .name{
    font-size: 1.5rem;
    font-weight: 400;
}

.video-details .caption{
    color: var(--white-100);
    line-height: 1.5rem;
    -webkit-line-clamp: 15;
    font-size: .9rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(78, 78, 78, 0.541);
}


@media screen and (max-width:1024px){
    .video-play{
        flex-direction: column;
    }

    .video-details{
        margin: 1rem 0;
    }

    .video-details .name{
        font-size: 1.5rem;
        
        margin-bottom: 1rem;
    }

    .video-details{
        border-bottom: 1px solid rgba(78, 78, 78, 0.541);
    }

}


@media screen and (max-width:768px){
    .video-play{
        padding: 2rem;
    }

    .video-details .channel .avatar{
        display: block;
    }

    .video-player{
        height: 60vw;
    }
}

@media screen and (max-width:426px){
    .video-play{
        padding: 1rem;
    }

    .video-details .name{
        font-size: 1.2rem;
        font-weight: 300;
    }

    .video-details .details-head{
        flex-direction: column;
        align-items: unset;
        margin-top: .5rem ;
        padding-bottom: 0;
    }

    .button-group{
        width: 100%;
        text-align: right;
    }

    .btn-trans{
        font-size: .8rem;
        padding: .5rem;
    }
}   