.cards{
    background-color: transparent;
    cursor: pointer;
}

.card-image{
    overflow: hidden;
    transition: opacity .5s ease;
}

.cards:hover > .card-image{
    opacity: .7;
}

.card-title{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 0;
    color: var(--white-100);
}

.card-text{
    padding: .5rem 0;
    font-size: .9rem;
    color: var(--gray-300);
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.card-owner{
    font-weight: 300;
    color: var(--gray-300);
}

@media screen and (max-width : 1024px){
    .card-title{
        font-size: 1rem;
    }

    .card-text{
        font-size: .8rem;
    }
}

