.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-100);
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem 0;
}

@media screen and (max-width : 700px){
    .search-container span{
        display: none;
    }
}